
.principal{
    background-color: #e5e5e5; 
    box-shadow: 0px 1px 5px 1px;
}

.sidebar{
    position: absolute;
    width: 250px;
    border: 1px solid #000;
    height: 1100px;
    background-color: #1a1a1a;
    color: #fff;
}

.sidebar h2{
    text-align: center;
    margin: 0;
    padding: 10px;
    background-color: #1a1a1a;
}


.sidebar ul{
    list-style: none;
    padding: 0;
    margin: 0;
}



.sidebar li{
    outline: 1px solid #2a2a2a;
    transition-property: border;
    transition-duration: 0.3s;
}
.sidebar li:hover{
    background-color: #444;
    border-left: 5px solid #eee;
}

.sidebar a{
    display: block;
    padding: 10px;
    color: #fff;
    text-decoration: none;
}

.r-personal{
    font-family: oswald;   
    margin-left: 85px;
    padding: 10px; 
   box-shadow: 0px 1px 5px 1px;
}

.lista{
    font-family: oswald;
    font-size: 3em;
    margin-left: 20px;
}
.contenido{
    width: 100%;
    height:1100px;
    position: absolute;
    background-color: #f7f7f7;
    transition: all 0.5s;
}

.top{
    height: 57px;
    background-color: #1a1a1a;
}

.btn{
    color: #fff;
}

.menu-bar{
    cursor: pointer;
}

.abrir{
    transform: translateX(250px);
}

/*ADMINISTRADOR CARTA*/

.foto {
    background-color: #1a1a1a;
    margin-bottom: 10px;
    margin-top: 60px;
    font-size: 1em;
    border-radius: .2rem;
    color: #fff;
    padding: 10px;


}

.foto-block{
    font-size: 1em;
    padding: 0.9em;

}

.foto-img-top {
    width: 100%;
    height: auto;
}

.foto-title {
    font-size: 1.1em;
    font-weight: 900;
    line-height: 1.2857em;
}

/*TARGETAS INDICADORES*/
.circle-tile {
    margin-bottom: 15px;
    text-align: center;
}
.circle-tile-description {
    text-transform: uppercase;
}
.circle-tile-footer {
    background-color: rgba(0, 0, 0, 0.1);
    color: rgba(255, 255, 255, 0.5);
    display: block;
    padding: 5px;
    transition: all 0.3s ease-in-out 0s;
}
.circle-tile-footer:hover {
    background-color: rgba(0, 0, 0, 0.2);
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
}


.dark-blue {
    background-color: #27507a;
    color: #fff;
}

.dark-red{
    background-color: #8c3028;
    color: #fff;
}

.dark-green{
    background-color: #406815;
    color: #fff;
}

.dark-orange{
    background-color: #966c19;
    color: #fff;
}

/*ESTILOS SIMU*/
.btn-simu-naranja {
    padding: 10px !important;
    border: 2px solid rgba(255,255,255,.4);
    border-radius: 5px;
    background-color: transparent;
    color: #fff;
    transition: .3s;
    cursor: pointer;
    font-weight: bold;
}

.btn-simu-naranja:hover {
    background-color: rgba(253, 164, 0, .8) !important;
}

.cerrar-modal:hover {
    color: rgba(253, 164, 0, .8) !important;
}

.btn-simu-naranja:focus {
    outline-color: orange !important;
}

.mensaje-bienvenida{
    font-size: 1.2em;
}

/*INDICADORES ICONOS*/

.card-u{
    border-left: 100px solid #004085;    
}

.usuarios{
    border-radius: 50%;
    color: #fff;
    height: 30px;
    font-size: 1.3em;
    margin-left: 120px;
    background-color: #004085;
}

.u-indi, .t-indi, .p-indi{
    font-family: oswald;
    font-size: 1em;
}

.card-t{
    border-left: 100px solid #155724;    
}

.transacciones{
    border-radius: 50%;
    color: #fff;
    height: 30px;
    font-size: 1.3em;
    margin-left: 120px;
    background-color: #155724;
}

.card-p{
    border-left: 100px solid #f2a409;    
}

.productos{
   
    border-radius: 50%;
    color: #fff;
    height: 30px;
    font-size: 1.3em;
    margin-left: 120px;
    background-color: #f2a409;
}
/*CARTAS DEL MEDIO*/

.contenedor{
    height: 400px;
    width: 300px;
    -webkit-perspective:700;




}
.carta{
    width: 85%;  
    height: 70%;
    cursor: pointer;
    position: relative;
    transform-style: preserve-3d;
    transition: 2s;
    margin-top: 15px;

}

.carta:hover{
    transform: rotateY(180deg);

}

.lado{
    width:100%;
    height: 100%;
    backface-visibility: hidden;
    position: absolute;
    border-radius: 1%;

}
.frente{
    background-color:#000; 
    opacity: 0.8;


}
.atras{
    background:#000;
    transform: rotateY(180deg);
}