.pie-pagina {
    background-color: #1a1a1a;
    padding: 25px 0px;
}

.pie-pagina h2 {
    margin-bottom: 25px !important;
}

.icon-red {
    border-radius: 25px;
    background-color: #2d2d2d;
    transition: .3s;
    padding: 15px;
    width: 50px;
    height: 50px;
    margin: 0 5px;
}

#facebook:hover {
    background-color: #4267b2;
}

#twitter:hover {
    background-color: #00aced;
}

#whatsapp:hover {
    background-color: #189d0e;
}