body{
    background-image: url(../images/motos/FondosMotos/fondo1.jpg);
    background-size: 100%;
    background-color:rgba(0,0,0,.5);    
}
.f{
    background-color: rgba(0,0,0,.3);
    border-radius: 5px;
    margin-top: 5px;
}
.bt-registrar{
    border-radius: 5px;
}



